version: '3'

services:

  geth:
    container_name: geth
    build: geth
    entrypoint: sh
  # share/geth/private_net/password.txt
    ports:    
      - 7545:7545
      - 30303:30303
    tty: true
    #volumes: 
    #  - geth:/share
  ganachecli:
    image: trufflesuite/ganache-cli:latest
    command: bash "ganache-cli -h 0.0.0.0"
    ports:
      - 8545:8545

  truffle:
    container_name: truffle
    build: truffle
    volumes:
      - ./truffle:/src
    ports:
      - 8080:8080
      - 7000:7000
    entrypoint: sh
    tty: true

#volumes:
  #geth:share/geth/private_net/password.txt
  #truffle:
