version: '3'

services:

  #geth:
    #container_name: geth
    #build: geth
    #entrypoint: sh
    #ports:    
      #- 7545:7545
      #- 30303:30303
    #tty: true
    #volumes: 
    #  - geth:/share

  ganachecli:
    build: ganachecli
    ports:
      - 8545:8545
    volumes:
      - ./ganachecli:/var/ganache

  truffle:
    container_name: truffle
    build: truffle
    volumes:
      - ./truffle:/src
    ports:
      - 8080:8080
      - 7000:7000
    entrypoint: sh
    tty: true

  python:
    container_name: python
    build: python
    volumes:
      - ./python:/app
    ports:
      - 5000:5000
    entrypoint: sh runFlask.sh
    tty: true


    
  


